@charset "utf-8";
/* CSS Document */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

.art-contenedor h2 {
	align-content: center;

	padding-top: 15px;
	font-family: 'Helvetica';
	font-weight: bold;

}

.art-contenedor hr {
	width: 30%;
	border: 1px solid rgb(172, 172, 172);
	margin: 5px auto;

}

.art-contenedor {
	padding: 20px;
	align-items: center;
	align-content: center;
	height: 700px;
	background: #E3E3E3;

}

/* Estilo para centrar las imágenes dentro de cada div con la clase "imagen" */
.imagen {
	text-align: center;
}

.img-cont {
	display: inline-block;
}

.imagen {
	padding-top: 25px;
	width: 50%;
	height: 100px;
	float: left;

}

.img-cont {
	padding: auto;
	width: auto;
	height: auto;
	max-width: 700%;
	max-height: 700%;
}


textarea {
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 3px;
	border: 0;
	border: 1px solid lightblue;
	padding-left: 10px;
	padding-top: 10px;
}

input[name="envio"] {
	width: 30%;
	height: 35px;
	background: lightblue;
	border: 0;
	border-radius: 4px;
	color: #2E009F;
	cursor: pointer;
	display: block;
	margin: auto;

}


input[name="envio"]:hover {
	color: lightblue;
	background: darkblue;
	border: 0;


}

@media (max-width: 991px) {
	.art-contenedor {
		width: 100%;
		height: 850px;
	}

	.imagen {
		width: 100%;
		height: auto;
	}

	.img-cont {
		width: 90%;
		height: auto;
		margin: 0 auto;
	}

	.form {
		text-align: center;
		width: 100%;
	}
}

@media only screen and (min-width: 480px) and (max-width: 780px) {
	.img-cont {
		width: 100%;
		height: 200px;
	}

	.form {
		width: 100%;
		text-align: center;
		/* Para centrar el contenido horizontalmente */
	}

	.imagen {
		width: 100%;
		height: 200px;
	}

	.art-contenedor {
		width: 100%;
	}
}